<a href="/log_times/new" > Log Your Time </a> <br>
<a href="/employees/<%=@employee.id%>/report" > Run a Report on Yourself</a> <br>
<% if @employee.admin %>
  <a href= "/clients/new" > Create a Client </a> <br>
  <a href= "/employees/new">Create an Employee</a> <br>
  <a href= "/employees/<%=@employee.id%>/company_report">Run a Company Report</a>
<% end %>
